.my-profile
    .legend-container
      margin 0 10px
      margin-top 13% !important
    .profile-top
        color white
        position relative
        width 100%
        .banner
          width 100%
        .profile
            border-style solid
            border-width 2px
            position absolute
            border-radius 50%
            left 5%
            top 62%
            width 20%
            z-index 2
        .legend
            color white
            border none
            line-height normal
            left 5%
            bottom 10%
            position absolute
            width 90%
        .name
            color white
            background rgba(51,51,51,.6)
            border-radius 6px
            padding .1em .2em
            font 20px sans-serif
            position absolute
            left 26%
            bottom -17px

            span
                display block
.auto-80
    margin 0 auto
    margin-top 15% !important
    width 80% !important