<ion-view title="Mi Perfil">
    <ion-content padding="false">
        <header class="profile-top">
            <img class="banner" ng-src="{{URL+auth_user.dirImgBanner}}" alt="">
            <img class="profile" ng-src="{{URL+auth_user.pDir}}" alt="" style="border-color:{{auth_user.color_leyenda}}">
        </header>

        <div class="button-bar">
            <button class="button button-stable button-block  icon-left ion-android-image">1</button>
            <button class="button button-stable button-block  icon-left ion-android-contact">2</button>
            <button class="button button-stable button-block  icon-left ion-android-contacts">3</button>
        </div>
    </ion-content>
</ion-view>

<style>
    .profile-top{
        position: relative;
        width: 100%;
    }
    .profile-top .banner{
        width: 100%;
    }
    .profile-top .profile{
        border-style: solid;
        border-width: 2px;
        position: absolute;
        border-radius:50%;
        left: 5%;
        top: 10%;
        width: 25%;
    }
</style>