<div class="chat">
  <div class="bar bar-header bar-positive">
    <h1 class="title">{{chat.nick}}</h1>
  </div><br>
  <ion-content class="messages-box" delegate-handle="chatScroll" >
      <div class="messages" >

          <div class="message" ng-repeat="message in messages[chat.idChat] track by $index" ng-class="{'avatar_right':message.nick != auth_user.nick, 'last_item': $last}">
            <img ng-src="{{URL+message.pDir}}">
              <!-- <h2>{{message.enviado_por}}</h2> -->
            <p>{{message.msg}}</p>
          </div>


          <!-- <div class="message avatar_right typing" >
            <img ng-src="{{URL+tempChatImages[chat.nick]}}">
            <p>Typing...</p>
          </div> -->

      </div>

  </ion-content>
  <div class="bar bar-footer bar-balanced chat-input-box">
      <button class="actions"><i class="icon ion-plus-round"></i></button>

        <textarea placeholder="Mensaje..." id="msg" ng-model="chat.message" ng-change="chat.onTyping()" ng-model-options="{debounce: 750}" ng-focus="chat.onFocus()" ng-blur="chat.onBlur()"></textarea>

      <button class="send" on-tap="chat.sendMessage()">
        <i class="icon ion-paper-airplane"></i>
      </button>
  </div>
</div>

<style>
  .chat{
      background: #687586 url({{URL+chat.backgroundImage}}) fixed;
      background-size: 100%
  }
  .chat .messages-box{
      background: rgba(0,0,0,.3);
  }
</style>
